/* The .main-middle is where indvidual content of each sub website page will layout */
.main-middle {
    grid-row: 2;
    grid-column: 2;
}

.main-middle--background-div1 {
    background-color: rgb(155, 197, 253)
}

.main-middle__h1 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.main-middle__images {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main-middle__image1 {
    width: 224px;
    height: 181px;
    padding: 5px;
}

.main-middle__image2 {
    width: 224px;
    height: 181px;
    padding: 5px;
}

.main-middle__article {
    position: relative;
    bottom: 375px;
    left: 240px;
}

.main-middle__article__p1 {
    position: relative;
    bottom: 375px;
    left: 240px;
}
.main-middle__article__p2 {
    position: relative;
    bottom: 375px;
    left: 240px;
}
.main-middle__article__p3 {
    position: relative;
    bottom: 375px;
    left: 240px;
    
}

/* Additional edited styles of stylesheetall.css file  */
body {
    background-image: linear-gradient(rgb(6, 71, 12), rgb(1, 26, 3));
    background-repeat: repeat-x;
    height: 170px;
}

.navbar-left__test:hover {
    color: white !important;
    box-shadow: none !important;
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%) !important;
}
