<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eazytech Technologies | Making technology eazy</title>
    <link rel="stylesheet" href="EazyTechCss.css">
</head>

<body>
    <div class="navbar-left">
        <nav>
            <a>Home</a>
            <a>About Us</a>
            <a>Services</a>
            <a>Portfolio</a>
            <a>Testimonials</a>
            <a>Contact Us</a>
            <a>FAQ</a>
        </nav>
    </div>
        
        <header class="header-top">
            <img class="null" src="https://i.ibb.co/Bz5p3hj/Logo-1.jpg" alt="EazyTech Technologies logo">
            <img class="null" src="https://i.ibb.co/WK8G39f/Welcome-NBanner.jpg" alt="Weclome banner">
        </header>
    
        <main class="main-middle">
            <img src="https://i.ibb.co/86WhZVp/computer-network-networking-austin.jpg" alt="Image of web router network">
            <img src="https://i.ibb.co/0JQBXyb/images.jpg" alt="Image of network wiring to a server">
            <img src="https://i.ibb.co/C57s3zW/images-2.jpg" alt="Image of a tshirt">

            <p class="main-middle__about-paragraph">Eazytech Technologies has been in business since the year 2010. We specialize in Information Technology <strong>Service, support, Sales</strong> and <strong>Consultancy</strong>.
                Our staff offers quality and reliable services you can count on. 
                In addition, our friendly and professional staff is here to answer any questions you may have about our company or our services.
                <br>
                <br>
                At Eazytech Technologies, our goal is to provide you with courteous, expedient, professional service of the highest caliber.
                <br>
                <br>
                Browse our Web site for more information on Our services on the <a href="#">Services Tab.</a>
                <br>
                <br>
                If you have any questions or would like to speak with a Eazytech Technologies representative regarding our Services and/or Products, 
                please e-mail us at info@eazytechtechnologies.co.ke or call us at +254 722 324 370.
                <br>
                <br>
                At Eazytech Technologies, the customer always comes first.
            </p>
            <img src="https://i.ibb.co/cQ5fXfF/download-3.jpg" alt="download-3">
        </main>
</body>
</html>