* {
    box-sizing: border-box;
}

body {
    background-color: rgb(164,160,160);
    background-image: url(https://i.ibb.co/yh2CkrZ/comp-logo.jpg);
    background-repeat: repeat-x;
    font-family : arial;
    font-size : 16px;
    display: grid;
    grid-template-columns: [left] 15.625rem [middle] auto [right] 15.625rem;
    grid-template-rows: repeat (4, auto [top-to-bottom]);

    /* grid-template-columns: auto auto auto auto auto; */
    /* grid-template-rows: auto auto auto auto auto; */
}

/* CSS Gradient provided by: https://cssgradient.io */
.navbar-left {
    text-align:center;
}

.navbar-left--1 {
    grid-row: 1;
    color: #262626;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
    
}
.navbar-left--2 {
    grid-row: 2;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left--3 {
    grid-row: 3;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left--4 {
    grid-row: 4;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left--5 {
    grid-row: 5;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left--6 {
    grid-row: 6;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left--7 {
    grid-row: 7;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left--8 {
    grid-row: 8;
    font-weight: 550;
    color: #262626;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__contact-email {
    grid-row: 9;
}
.navbar-left__contact-mobile {
    grid-row: 10;
}

.header-top {
    grid-column: 2;
    grid-row: 1;
}

.main-middle {
   grid-column: 2;
   grid-row: 2;
}

.main-middle__about-text {
    background-color: rgb(255, 255, 204);
}

.footer-bottom {
    grid-column: 2;
    grid-row: 4;
}