body {
    background-color: rgb(164,160,160);
    background-image: url(https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/comp_logo.jpg?raw=true);
    background-repeat: repeat-x;
    font-size: 16px;
    font-family: arial;
}

.main-container {
    display: grid;
    grid-template-columns: [left] auto [middle] 1fr [right] 500px;
    grid-template-rows: 240px 1fr auto;
    grid-gap: 50px;
}

.header-top {
    grid-row: 1;
    grid-column: 2;
    margin-left: 20px;
}

.header-top--image1 {
    width: 700px;
    height: 85px;
    margin-left: 20px;
    padding: 10px;
}

.header-top--image2 {
    width: 760px;
    height: 140px;
}

.main-middle {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-middle--image1 {
    width: 224px;
    height: 181px;
}

.main-middle--image2 {
    width: 224px;
    height: 181px;
}

.main-middle--image3 {
    width: 224px;
    height: 181px;
}

.main-middle__about-text {
    background-color: rgb(255, 255, 204);
    font-family: Arial, Helvetica, Geneva, Sans-serif;
    font-size: 14px;
    margin-top: 28px;
    padding: 2px;
}
.main-middle__about-text--image1 {
    width: 250px;
    height:200px;
    float: right;
}
.main-middle__about-text--p1 {
    line-height: 1.5;
}
.main-middle__about-text--p2 {
    line-height: 1.0;
}
.main-middle__about-text--p3 {
    line-height: 1.0;
    position: relative;
    top: 10px;
}
.main-middle__about-text--p4 {
    line-height: 1.5;
    position: relative;
    top: 20px;
}
.main-middle__about-text--p5 {
    line-height: 2.0;
    position: relative;
    top: 30px;
}

.footer-bottom {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}

/* CSS Gradient provided by: https://cssgradient.io */
.navbar-left {
    row-gap: 3px;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px;
    grid-template-columns: 140px;
    margin-left: 20px;;
}
.navbar-left a:hover {
    color: #0d0d0d;
    transition: box-shadow .1s;
    box-shadow: 0 0 10px;
    background:rgb(128, 128, 128);
}
.navbar-left__home {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__about {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__serv {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__port {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__test {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__con {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__loc {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__faq {
    color: #262626;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5px;
    border: #666666 solid 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 10%, rgba(191,191,191,1) 50%, rgba(153,153,153,1) 90%);
}
.navbar-left__contact-email {
    font-size: 10px;
}
.navbar-left__contact-mobile {
    font-size: 12px;
}