<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eazytech Technologies | Making technology eazy</title>
    <link rel="stylesheet" href="../stylesheetall.css">
    <link rel="stylesheet" href="stylesabout-us.css">
</head>

<body>
    <div class="main-container">

        <header class="header-top">
            <img class="header-top__image1" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/Logo_1.jpg" alt="EazyTech Technologies logo">
            <img class="header-top__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/About-Us_NBanner.jpg" alt="About Us banner">
        </header>
        
        <nav class="navbar-left">
            <a class="navbar-left__home" href="https://traplocz.github.io/EazyTechTechnologies/views/Home/index.html"><div class="navbar-left--text-align">Home</div></a>
            <a class="navbar-left__about" href="https://traplocz.github.io/EazyTechTechnologies/views/About-Us/about-us.html"><div class="navbar-left--text-align">About Us</div></a>
            <a class="navbar-left__serv" href="https://traplocz.github.io/EazyTechTechnologies/views/Services/services.html"><div class="navbar-left--text-align">Services</div></a>
            <a class="navbar-left__port" href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/portfolio.html"><div class="navbar-left--text-align">Portfolio</div></a>
            <a class="navbar-left__test" href="https://traplocz.github.io/EazyTechTechnologies/views/Testimonials/testimonials.html"><div class="navbar-left--text-align">Testimonials</div></a>
            <a class="navbar-left__con" href="https://traplocz.github.io/EazyTechTechnologies/views/Contact-Us/contact-us.html"><div class="navbar-left--text-align">Contact Us</div></a>
            <a class="navbar-left__loc" href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/location.html"><div class="navbar-left--text-align">Location</div></a>
            <a class="navbar-left__faq" href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/faq.html"><div class="navbar-left--text-align">FAQ</div></a>
                <p class="navbar-left__contact-email">E-Mail:
                    info@eazytechtechnologies.co.ke  
                </p>
                <div class="navbar-left__contact-mobile">Mobile:
                    <p>+254 722 324 370</p>
                    <p>+254 723 462 989</p>
                </div>
        </nav>

        <main class="main-middle">
            <div class="main-middle__about-text-top">
            <p>Eazytech Technologies offers the highest quality of <b>Information</b> <b>Technology</b> <b>Solutions</b> on the market today. Since 2010, we have provided superior service to our customers and have assisted them in achieving their goals. Our five Years of experience and commitment to excellence have earned us the reputation as the best Information Technology Service provider in the area.</p>
            </div>
            <img class="main-middle__image1" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/comp_logo.jpg" alt="Image of network PC">
            <img class="main-middle__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/db_images_21.jpg" alt="Image of network, mouse and keyboard">
            <img class="main-middle__image3" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/power_logo_design_by_elifkara-d49tehv.jpg" alt="Image of a green power button">

            <div class="main-middle__about-text-middle">
                <b><p class="main-middle__about-text-middle--align">Our Values</p></b>
                <b>Leadership:</b> <span>At Eazytech Technologies, you receive the kind of quality and service you expect from a leader. Our company is always evolving as the needs or our customers change and as new opportunities are created in the market. You can rest assured that, working with Eazytech Technologies, you will enjoy the latest services, technology and developments in the industry.</span>
                <div class="main-middle__about-text-middle--space">
                <b>Customer Relations:</b> <span>At Eazytech Technologies, our highest priority is satisfied customers. You are important to us and you can expect us to go the extra mile for your business. Superior customer service is the hallmark of Eazytech Technologies. We are proud to serve you and work hard to earn your business.</span>
                </div>

            </div>
        </main>

        <footer class="footer-bottom">
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Home/index.html">Home</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/About-Us/about-us.html">About Us</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Services/services.html">Services</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/portfolio.html">Portfolio</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Testimonials/testimonials.html">Testimonials</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Contact-Us/contact-us.html">Contact Us</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/location.html">Location</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/faq.html">FAQ</a>
        </footer>
    </div>
</body>
</html>