/* The .main-container class relies on the Grid format settings */
.main-container {
    display: grid;
    grid-template-columns: [left] auto [middle] 1fr [right] 500px;
    grid-template-rows: 240px 1fr auto;
    grid-gap: 50px;
}

/* The .main-middle is where indvidual content of each sub website page will layout */
.main-middle {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-middle__image1 {
    width: 224px;
    height: 181px;
}

.main-middle__image2 {
    width: 224px;
    height: 181px;
}

.main-middle__image3 {
    width: 224px;
    height: 181px;
}

.main-middle__about-text {
    background-color: rgb(204,153,255);
    font-family: Arial, Helvetica, Geneva, Sans-serif;
    font-size: 14px;
    margin-top: 28px;
    padding: 2px;
}

.main-middle__about-text__p1 {
    line-height: 1.5;
}

.main-middle__about-text__p2 {
    line-height: 1.0;
}

.main-middle__about-text__p3 {
    line-height: 1.0;
    position: relative;
    top: 10px;
}

.main-middle__about-text__p4 {
    line-height: 1.5;
    position: relative;
    top: 20px;
}

.main-middle__about-text__p5 {
    line-height: 2.0;
    position: relative;
    top: 30px;
}

/* Additional edited styles of stylesheetall.css file  */
body {
    background-image: linear-gradient(rgb(6, 71, 12), rgb(1, 26, 3));
    height: 170px;
}