<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eazytech Technologies | Making technology eazy</title>
    <link rel="stylesheet" href="/views/stylesheetall.css">
    <link rel="stylesheet" href="stylesfaq.css">
</head>

<body>
    <div class="main-container">

        <header class="header-top">
            <img class="header-top__image1" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/Logo_1.jpg" alt="EazyTech Technologies logo">
            <img class="header-top__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/FAQ_NBanner.jpg" alt="FAQ banner">
        </header>
        
        <nav class="navbar-left">
            <a class="navbar-left__home" href="https://traplocz.github.io/EazyTechTechnologies/views/Home/index.html"><div class="navbar-left--text-align">Home</div></a>
            <a class="navbar-left__about" href="https://traplocz.github.io/EazyTechTechnologies/views/About-Us/about-us.html"><div class="navbar-left--text-align">About Us</div></a>
            <a class="navbar-left__serv" href="https://traplocz.github.io/EazyTechTechnologies/views/Services/services.html"><div class="navbar-left--text-align">Services</div></a>
            <a class="navbar-left__port" href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/portfolio.html"><div class="navbar-left--text-align">Portfolio</div></a>
            <a class="navbar-left__test" href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/testimonials.html"><div class="navbar-left--text-align">Testimonials</div></a>
            <a class="navbar-left__con" href="https://traplocz.github.io/EazyTechTechnologies/views/Contact-Us/contact-us.html"><div class="navbar-left--text-align">Contact Us</div></a>
            <a class="navbar-left__loc" href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/location.html"><div class="navbar-left--text-align">Location</div></a>
            <a class="navbar-left__faq" href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/faq.html"><div class="navbar-left--text-align">FAQ</div></a>
                <p class="navbar-left__contact-email">E-Mail:
                    info@eazytechtechnologies.co.ke  
                </p>
                <div class="navbar-left__contact-mobile">Mobile:
                    <p>+254 722 324 370</p>
                    <p>+254 723 462 989</p>
                </div>
        </nav>

        <main class="main-middle">
            <img class="main-middle__image1" src="https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/computer-network-networking-austin.jpg?raw=true" alt="Image of web router network">
            <img class="main-middle__image2" src="https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/images.jpg?raw=true" alt="Image of network wiring to a server">
            <img class="main-middle__image3" src="https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/images_-2-.jpg?raw=true" alt="Image of a tshirt">

            <div class="main-middle__about-text">
                <p class="main-middle__about-text__p1">
                    Eazytech Technologies has been in business since the year 2010. We specialize in Information Technology <b>Service, support, Sales</b> and <b>Consultancy</b>.
                    Our staff offers quality and reliable services you can count on. In addition, our friendly and professional staff is here to answer any questions you may have about our company or our services.
                </p>
                <img class="main-middle__about-text__image1" src="https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/download_-3-.jpg?raw=true" alt="download-3">
                <p class="main-middle__about-text__p2">
                    At Eazytech Technologies, our goal is to provide you with courteous, expedient, professional service of the highest caliber.
                </p>
                <p class="main-middle__about-text__p3">
                    Browse our Web site for more information on Our services on the <a href="#">Services Tab</a>.
                </p>
                <p class="main-middle__about-text__p4">
                    If you have any questions or would like to speak with a Eazytech Technologies representative regarding our Services and/or Products,
                    please e-mail us at info@eazytechtechnologies.co.ke or call us at +254 722 324 370.
                </p>
                <p class="main-middle__about-text__p5">
                    At Eazytech Technologies, the customer always comes first.
                </p>
            </div>
        </main>

        <footer class="footer-bottom">
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Home/index.html">Home</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/About-Us/about-us.html">About Us</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Services/services.html">Services</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/portfolio.html">Portfolio</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/testimonials.html">Testimonials</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Contact-Us/contact-us.html">Contact Us</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/location.html">Location</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/faq.html">FAQ</a>
        </footer>
    </div>
</body>
</html>