<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eazytech Technologies | Making technology eazy</title>
    <link rel="stylesheet" href="../stylesheetall.css">
    <link rel="stylesheet" href="stylesservices.css">
</head>

<body>
    <div class="main-container">

        <header class="header-top">
            <img class="header-top__image1" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/Logo_1.jpg" alt="EazyTech Technologies logo">
            <img class="header-top__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/Services_NBanner.jpg" alt="Services banner">
        </header>
        
        <nav class="navbar-left">
            <a class="navbar-left__home" href="https://traplocz.github.io/EazyTechTechnologies/views/Home/index.html"><div class="navbar-left--text-align">Home</div></a>
            <a class="navbar-left__about" href="https://traplocz.github.io/EazyTechTechnologies/views/About-Us/about-us.html"><div class="navbar-left--text-align">About Us</div></a>
            <a class="navbar-left__serv" href="https://traplocz.github.io/EazyTechTechnologies/views/Services/services.html"><div class="navbar-left--text-align">Services</div></a>
            <a class="navbar-left__port" href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/portfolio.html"><div class="navbar-left--text-align">Portfolio</div></a>
            <a class="navbar-left__test" href="https://traplocz.github.io/EazyTechTechnologies/views/Testimonials/testimonials.html"><div class="navbar-left--text-align">Testimonials</div></a>
            <a class="navbar-left__con" href="https://traplocz.github.io/EazyTechTechnologies/views/Contact-Us/contact-us.html"><div class="navbar-left--text-align">Contact Us</div></a>
            <a class="navbar-left__loc" href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/location.html"><div class="navbar-left--text-align">Location</div></a>
            <a class="navbar-left__faq" href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/faq.html"><div class="navbar-left--text-align">FAQ</div></a>
                <p class="navbar-left__contact-email">E-Mail:
                    info@eazytechtechnologies.co.ke  
                </p>
                <div class="navbar-left__contact-mobile">Mobile:
                    <p>+254 722 324 370</p>
                    <p>+254 723 462 989</p>
                </div>
        </nav>

        <main class="main-middle">
            <h1>Services</h1>
            <p class="main-middle__row1">Below is an overview of the services and solutions Eazytech Technologies provides. At Eazytech Technologies, we aim to provide convenient and quality services in the Information Technology industry.</p>
            <p class="main-middle__row2">If at anytime, while you are browsing through our services section, you have a question related to any of our services don't hesitate to call us at +254 722 324 370 or send us an e-mail at info@eazytechtechnologies.co.ke</p>

            <div class="main-middle__row3">
            <img class="main-middle__row3--image" src="https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/computer-network-networking-austin.jpg?raw=true" alt="Image of web router network">
                <p class="main-middle__row3__p1">COMPUTERS, SALES & SERVICES</p>
                <p class="main-middle__row3__p2">We sell all types of desktop computers, Laptops, printers and all
                    associated accessories</p>
                <p class="main-middle__row3__p3">Our qualified staff also provides:</p>
                    <ul class="main-middle__row3__list">
                        <li>Support</li>
                        <li>Software solutions,</li>
                        <li>Repair & services</li>
                        <li>All associated accessories</li>
                    </ul>
            </div>  <!-- End of class="main-middle" div, which is a subgrid -->

                 <!-- Block 1 below - Layout median from the above code, fresh new block below -->

            <div class="main-middle__block1">
            <div class="main-middle__block1--pair-div"><p class="main-middle__block1__p1">Computer Networking</p>
            <p class="main-middle__block1__p2">We provide upto standard networks (Both wired and wireless) ranging from small office networks, institutions, peer to peer, structured cabling, and all types of computer networks.</p>
            </div>
            </div>
            <img class="main-middle__block1__image" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/images.jpg" alt="Image of network wiring to a server">

                 <!-- Block 2 below - Layout median from the above code, fresh new block below -->

            <img class="main-middle__block2__image" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/db_images_21.jpg" alt="Image of network, mouse and keyboard">
            <div class="main-middle__block2">
            <p class="main-middle__block2__p1" >[WEB DESIGN, HOSTING AND DOMAIN REGISTRATION]</p>
            <p class="main-middle__block2__p2" >Get a well customized website for your organization which come with free unlimited Emails. Or if you have one already we can host for you and provide you with Email addresses customized to your organizations name.</p>
            </div>

                 <!-- Block 3 below - Layout median from the above code, fresh new block below -->
            <div class="main-middle__block3">
            <p class="main-middle__block3__p1">Intercom installations & Services</p>
            <p class="main-middle__block3__p2">Make communication easier with zero charges within your organization with your own communications network.
                You can also opt to intergrate your official organization lines in to the network.
                We also provide and service all associated equipment including PABX machines.</p>
            </div>
            <img class="main-middle__block3__image1" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/download_-2-.jpg" alt="Photo of LAN phones derived from a server">
            <img  class="main-middle__block3__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/download_-1-.jpg" alt="Photo of LAN phones">

                 <!-- Block 4 below - Layout median from the above code, fresh new block below -->

            <div class="main-middle__block4">
            <p class="main-middle__block4__p1">Printing and branding</p>
            <div class="main-middle__block4--background-expand"></div>
            <p class="main-middle__block4__p2">Be it magazines, promotional materials, Gift items, books, banners, exams or even Tshirts, our printing press has the ability to provide the best quality and very efficient work.
            We also print school and job ID Cards.</p>
            <img class="main-middle__block4__image0" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/custom-tshirt-printing-sydney.jpg" alt="Photo of 'Your design here t-shirt'">
            <img class="main-middle__block4__image1" src="https://github.com/traplocz/EazyTechTechnologies/blob/master/public/images/outdoor-banners-nyc.png?raw=true" alt="Photo of printing print banners on display">
            <img class="main-middle__block4__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/images_-1-.jpg" alt="Photo of custom printing print banner examples">
            </div>

                 <!-- Block 5 below - Layout median from the above code, fresh new block below -->

            <div class="main-middle__block5">
            <div class="main-middle__block5--background">
            <p class="main-middle__block5__p1">Educational Aids, Materials & Stationeries</p>
            <p class="main-middle__block5__p2">Learning aids like charts and graph grids make learning easy and enjoyable hence better performance.</p>
            </div>
            <img class="main-middle__block5__image1" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/Filp_Charts__Whiteboards.jpg" alt="Photo of white 3 different blank white boards">
            <img class="main-middle__block5__image2" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/download_-4-.jpg" alt="Photo of small black 2000s' projector">
            <img class="main-middle__block5__image3" src="https://raw.githubusercontent.com/traplocz/EazyTechTechnologies/master/public/images/teaching-aids-545x307.jpg" alt="Photo of white board and white board supplies; markers, erasers.">
            </div>

                 <!-- Block 6 below - Layout median from the above code, fresh new block below -->
             <div class="main-middle__block6">
             <p class="main-middle__block6__p1">	
             CCTV installation & Services
             </p>
             <p class="main-middle__block6__p2">
             Get state of the art surveillance systems forr your organization.
             Access control systems also available
             </p>
            </div>

        </main>

        <footer class="footer-bottom">
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Home/index.html">Home</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/About-Us/about-us.html">About Us</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Services/services.html">Services</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Portfolio/portfolio.html">Portfolio</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Testimonials/testimonials.html">Testimonials</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/Contact-Us/contact-us.html">Contact Us</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/location.html">Location</a> |
            <a href="https://traplocz.github.io/EazyTechTechnologies/views/FAQ/faq.html">FAQ</a>
        </footer>
    </div>
</body>
</html>